<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title><%=title%></title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/style-main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
  </head>
  <body class="text-bg-dark p-3">

    <header>
      <nav id="main-nav" class="container navbar navbar-dark navbar-expand-lg">
        <div class="container-fluid">
          <a id="b-title" class="sel-nav" href="/">
            <img
              id="berry"
              src="/blockberry-logo-white.png"
              
              class="d-inline-block align-text-top"
            />
            </a
          >

          <div class="nav justify-content-end" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="/"><i id= "bb-box" class="bi bi-box-fill home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/portfolio"><i id= "bb-box" class="bi bi-box-fill port"></i> My Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout"><i id= "bb-box" class="bi bi-box-fill"></i> Log out</a>
              </li>
            </ul>
          </div>
        </div>

