<%-include("header")-%>


<div class="container">
    <div id="main-content" class="card text-bg-dark mb-3">
        <img
        id="berry"
        src="assets\blockberry-logo-white.png"
        class="d-inline-block align-text-top"
      />
      </a>
      <div class="card-body">
        <p class="card-text">Welcome, please sign in.</p>
        <form method="post" action="/login">
            <div class="mb-3 input-row">
              <i class="bi bi-person"></i>
              <input id="inputs a" type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
            </div>
            <div class="mb-3 input-row">
              <i class="bi bi-lock"></i>
              <input id="inputs b"type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
            </div>  
            <div class="buttons">
              <button class="btn btn-primary" id="b-log" type="submit">Login</button>
              <a class="btn btn-primary" id="b-log" href="/register">Register</a>
            </div>  
          </form>
          <!-- <h5 class="guest">Explore website with a guest account</h5> -->
      </div>
    </div>
</div>


<%-include("footer")-%>