:root{
  --main-accent-color: #702afb;
  --secondary-accent-color: #8143fd;

  --main-background-color:#212529;
  --secondary-background-color:#6c757d;
}

body{
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(#343a41ae,#702afb);

}

#focus{
  height:100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-content {
  position: relative;
  background: radial-gradient(#212529, #00000011);
  border: solid 3px #191b1e48;
  height: 50vh;
  width: 30vw;
  padding: 2rem;
  box-shadow: 0 25px 50px 0 #21252988;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-body{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.error{
  color: var(--secondary-accent-color);
  padding: 0;
  margin: 0;
  margin-bottom: .5em;
  font-size: 0.8em;
  text-align: center;
}

.card-text{
  text-align: center;
}

form{
  border-top: solid 10px #702afbbc;
  padding-top: .8rem;
}

.form-control{
  
  max-width: 95%;
}

.input-row{
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: #fff;
  padding-right: 5px;
}
#email-icon, #password-icon, #signup-icon{
  display: flex;
  justify-content: space-evenly;
  padding-right: 10px;
}
.buttons{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 1s;
}


.signup-link{
  color: var(--secondary-background-color);
  text-decoration: none;
  transition: 0.3s;
  
}

.signup-link:hover{
  color: var(--main-accent-color);
}

#b-log{ 
  width: 90%;
  transition: 0.3s;
  margin-top: 1em;
  border: solid .1em var(--main-accent-color);
  background-color: var(--main-background-color);
}

#b-log:hover{
  background-color: var(--main-accent-color);
}

#b-log:active{
  border: solid .1em var(--main-background-color);
}

#main-action{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: .5em;
  width: 50%;
  background-color: transparent !important;
  padding: 0.2rem 2rem;
  font-size: 1em;
  border:2px solid var(--secondary-accent-color) !important;
  outline: none;
  transition: all .3s ease;

}

#main-action:hover{
  background-color: var(--secondary-accent-color) !important;
  border-color: transparent;
}


.card-text{
  color: var(--secondary-background-color);
}



#berry {
 width: 25vw;
}


@media only screen and (max-width: 1500px) {
  body{
    font-size: 14px;
  }
  #main-content {
    height: 80vh;
    width: 80vw;
    padding: .3rem;
    box-shadow: 0 25px 60px 0 #212529ae;
    border-radius: 50px;
    
  }
  .input-row{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-control{
    font-size: 16px;
  }
  #berry{
    width: 78vw;
  }
  
}

@media only screen and (max-width: 900px) {
  .form-control{
    font-size: 14px;
  }
}