:root{
  --main-accent-color: #702afb;
  --secondary-accent-color: #8143fd;

  --main-background-color:#212529;
  --secondary-background-color:#6c757d;

  
}

body {
  font-family: "Lato", sans-serif !important;
  font-size: 1em !important;
  /* max-width: 100vw; */
}

.container-fluid{
  padding-top: .5rem;
  background: linear-gradient(#702afb, #212529ae);
  border-radius: 12px;
  border-bottom-left-radius: 0 ;
  border-bottom-right-radius: 0 ;
}



#main-nav {
  border-bottom: 1px solid #6c757d;
}

#img-logo {
  width: 24px;
  height: 24px;
}
#b-title {
  padding-bottom: .5rem;
}
#berry {
  width: 275px;
  height: 70px;
}

#param{
  border-color: var(--secondary-background-color);
  background-color: var(--main-background-color);
  color: var(--secondary-background-color);
}


thead {
  font-size: 1rem;
  font-weight: 700;
  position: sticky;
  top: 0;
}

#stickTable{
  background: linear-gradient(#702afbb0, #8143fdac);

}

#stickRow{
  border-radius: 12px;
}
.sel-nav {
  color: #fff;
  font-family: "Lato";
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  padding-bottom: 1.25rem;
}


#nav-pad {
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}




#date, #news-text {
  font-style: italic;
  color: #6c757d;
}

td {
  transition: 0.2s !important;
}


.foot {
  display: flex;
  justify-content: space-between;
  color: #a3aeb7;
  font-weight: 200;
  font-style: italic;
}

#news-cards{
  display: grid;
  grid-column-gap: .5rem;
  grid-auto-flow: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.card{
  width: 18rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  border-radius: 12px;
  scroll-snap-align: start;
  transition: .5s;
  background-color: var(--main-background-color);
}

.card-img-top{
  border-radius: 30px;
  /* border-bottom-right-radius: 40px;
  border-top-right-radius: 40px; */
  height: 60%;
  object-fit: cover;
}


.card-text{
  transition: .5s;
  color: rgba(223, 223, 223, 0.78);
}

.card-text:hover {
  color: var(--main-accent-color);;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  height: .75rem;
  width: .75rem;
  
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#702afbb0, #8143fdac);
}

::-webkit-scrollbar-track {
  background: rgba(28, 27, 27, 0.729);


}

#token-portfolio{
  padding-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sectionB{
  text-align: center;
}

.sectionC{
  /* padding: 5%; */
  padding-top: 5%;

}

#newToken, #newQty{
  border-color: var(--secondary-background-color);
  background-color: var(--main-background-color);
  color: #fff;
}


.table-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  color: var(--secondary-background-color);
}

.table-title i {
  padding-right: .2rem;
}

.table-title h5{
  font-size: 18px;
}

#del-data{
  transition: 0.3s;
}

#del-data:hover{
  cursor: pointer;
}
.btn{
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent !important;
  padding: 0.2rem 2rem;
  font-size: 1em;
  border:2px solid var(--secondary-accent-color) !important;
  outline: none;
  transition: all .3s ease;
}

.btn:hover{
  background-color: var(--secondary-accent-color) !important;
  border-color: transparent;
}

#bb-box{
  color: transparent;
  transition: all .9s ease;
}


.nav-link {
  
  color: #fff;
  transition: all .5s ease;
}

.nav-link:hover #bb-box {
  color: #fff;
}

.nav-link:hover {
color: #fff;
}

.total{
  display: flex;
  justify-content: center;
}

.navbar-nav {
  --bs-nav-link-padding-x: 1rem;
}
/* #navbarText{
  display: block;
  text-align: right;
  
} */



@media only screen and (max-width: 800px) {
  .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-fluid ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  #token-portfolio{
    flex-direction: column-reverse;
  }
  .sectionA canvas{
    width: 300px !important; 
    height: 300px !important;
  }
  table,thead{
    font-size: 12px;
  }
  #img-logo{
  height: 15px;
  width: 15px;
  }
  .table-title h5{
    font-size: 14px;
  }
  .nav-link {
    font-size: .8em;
  }
  #date{
    font-size: .8rem;
    padding-bottom: .3rem;
  }
}  

