:root{
  --main-accent-color: #702afb;
  --secondary-accent-color: #8143fd;

  --main-background-color:#212529;
  --secondary-background-color:#6c757d;
}

body {
  font-family: "Lato", sans-serif !important;
  font-size: 1em !important;
  /* max-width: 100vw; */
}
#main-nav {
  border-bottom: 1px solid #6c757d;
}

#img-logo {
  width: 24px;
  height: 24px;
}
#b-title {
  padding-bottom: .5rem;
}
#berry {
  width: 275px;
  height: 70px;
}

#param{
  border-color: var(--secondary-background-color);
  background-color: var(--main-background-color);
  color: var(--secondary-background-color);
}


thead {
  font-size: 1rem;
  font-weight: 700;
  position: sticky;
  top: 0;

}



.sel-nav {
  color: #fff;
  font-family: "Lato";
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  padding-bottom: 1.25rem;
}


#nav-pad {
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}




#date, #news-text {
  font-style: italic;
  color: #6c757d;
}

td {
  transition: 0.2s !important;
}


.foot {
  display: flex;
  justify-content: space-between;
  color: #a3aeb7;
  font-weight: 200;
  font-style: italic;
}

#news-cards{
  display: grid;
  grid-column-gap: .5rem;
  grid-auto-flow: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.card{
  height: 30vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: .5rem;
  border: none;
  /* border: solid .5rem var(--secondary-background-color); */
  border-radius: 12px;
  /* box-shadow: 0 0 10px rgba(217, 216, 216, 0.15); */
  scroll-snap-align: start;
  transition: .5s;
  background-color: var(--main-background-color);
}
.card-img-top{
  height: 15vh;
  object-fit: cover;
}

.card:hover{
  box-shadow: 0 0 10px rgba(217, 216, 216, 0.284);
}

.card-text{
  transition: .5s;
  color: var(--secondary-background-color);
}

.card-text:hover {
  color: var(--secondary-accent-color);;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  height: .75rem;
  width: .75rem;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-accent-color);
}

::-webkit-scrollbar-track {
  background: rgba(83, 83, 83, 0.399);
}

#token-portfolio{
  padding-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sectionB{
  text-align: center;
}

.sectionC{
  /* padding: 5%; */
  padding-top: 5%;

}

#newToken, #newQty{
  border-color: var(--secondary-background-color);
  background-color: var(--main-background-color);
  color: #fff;
}


.table-title{
  color: var(--secondary-background-color);
  text-align: right;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .2rem;
  padding-top: .6rem;
  border-top: solid 1px var(--secondary-background-color);
  border-bottom: solid 1px var(--secondary-background-color);
}

.table-title i {
  padding-right: .2rem;
}

#del-data{
  transition: 0.3s;
}

#del-data:hover{
  cursor: pointer;
}
.btn{
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent !important;
  padding: 0.2rem 2rem;
  font-size: 1em;
  border:2px solid var(--secondary-accent-color) !important;
  outline: none;
  transition: all .3s ease;
}

.btn:hover{
  background-color: var(--secondary-accent-color) !important;
  border-color: transparent;
}

#bb-box{
  color: transparent;
  transition: all .9s ease;
}

.nav-link {
  transition: all .5s ease;
}

.nav-link:hover #bb-box {
  color: var(--secondary-accent-color) !important;
}

.nav-link:hover {
  color: var(--secondary-accent-color) !important;
}

.total{
  display: flex;
  justify-content: center;
}

#navbarText{
  display: block;
  text-align: right;
  
}



/* @media only screen and (max-width: 768px) {
  
  body {
    width: 100%;
  }
  
  table{
  overflow-x: hidden;
} 
}  */

